<!-- Nav bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top" role="navigation">
  <div class="container-md">
    <a class="navbar-brand" href="#">
      <img src="./../assets/logo.png" alt="Logo" class="d-inline-block align-text-top" width="40" height="32" />
      GDSC-BC
    </a>
    <button class="navbar-toggler btn-primary" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link" href="#aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ourTeam"> Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://developers.google.com/community/gdsc-solution-challenge"
            target="_blank">Solution
            Challenge</a>
        </li>
      </ul>
      <button class="btn" type="button"> <a href="#joinUs">Join Us</a></button>
    </div>
  </div>
</nav>
<!-- Home page content -->
<div class="container-fluid" style="background-image: url(./../assets/ggl-bg.png);">
  <!-- Carousel -->
  <div class="container d-flex justify-content-center" style="margin-bottom: 50px;">
    <div id="carouselAuto" class="carousel slide w-75" data-bs-ride="carousel"
      style="margin-top: 50px; margin-bottom: 100px;">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000" style="height: 500px;">
          <img src="./../assets/x11_2853x2140.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="./../assets/x4_2853x2140.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="./../assets/x9_2853x2140.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="./../assets/x2_2853x2140.png" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselAuto" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselAuto" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!-- About us -->
<div class="container-fluid w-100" style="background-color:#FAFAFA;">
  <div class="row" id="aboutUs">
    <div class="col-md-2 col-sm-2 col-lg-2">
      <img src="./../assets/logo.gif" style="max-width: 50%;">
    </div>
    <div class="col-md-10 col-sm-10 col-lg-10">
      <div class="d-flex justify-content-center">
        <h3>What is the Google Developer Student Club - Berea College?</h3>
      </div>
      <div class="container">
        <p class="text-center">
          We are a Berea College based community for students interested in Google developer technologies.
          Students from all majors with an interest in growing their passion for technoology are welcome.<br>
          We grow our knowledge in a peer-to-peer learning environment and build solutions for our local community.
        </p>
      </div>
    </div>

  </div>
</div>
<!-- 
      Teams
     -->
<hr>
<div class="container-fluid w-100" style="background-color: #FAFAFA;">
  <div class="container-fluid w-75 p-3" id="ourTeam">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h3 class="card-header">Our Team</h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center"
      style="margin-top: 50px; margin-left: 100px; margin-right: 100px;">
      <div class="col">
        <div class="card">
          <img src="./../assets/belen.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Belen Saavedra Rios</h5>
            <small class="text-body-secondary">CS & Biology</small>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card">
          <img src="./../assets/sabira.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sabira Duishebaeva</h5>
            <small class="text-body-secondary">CS & Business</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./../assets/moise.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Moise Dete-Kpinssounon</h5>
            <small class="text-body-secondary">CS & Math</small>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card">
          <img src="./../assets/osman.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Osman Bin Aamir</h5>
            <small class="text-body-secondary">Business</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./../assets/eren.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Eren Gul</h5>
            <small class="text-body-secondary">CS</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./../assets/julian.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Julian Robles Jimenez</h5>
            <small class="text-body-secondary">Business</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" id="joinUs" style="margin: 50px;">
  <div class="col">
    <div class="container" style="margin-bottom: 20px;">
      <div class="d-flex justify-content-center">
        <h3 class="card-header">Join Us</h3>
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-center">
      <div class="card" style="width: 24rem;">
        <img src="./../assets/qr-code.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">
            Interested? <br>
            Plese scan the QR-Code or fill <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScjao6pwZ_mRN5CP2tGu4m2yZ5HJFVwzEC5WB9RnzDDw-TsLw/viewform?usp=sharing">this
              form</a> to
            join us!.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<hr>
<div class="container my-5" style="width: 100%;">
  <footer class="text-center text-lg" style="background-color: #F0F0F0;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn mx-2" style="background-color: transparent;">
        <a href="https://www.linkedin.com/company/developerstudentclubs/" target="_blank"><img
            src="./../assets/linkedin.png" style="height: 20px; width: 20px;" alt=""></a>
      </button>
      <button type="button" class="btn mx-2" style="background-color: transparent;">
        <a href="https://join.slack.com/t/dscberea/shared_invite/zt-21hsxt986-tJbH_Pakbuy6w3D4uUN7ZQ"
          target="_blank"><img src="./../assets/slack.png" style="height: 20px; width: 20px;" alt=""></a>
      </button>
      <button type="button" class="btn mx-2" style="background-color: transparent;">
        <a href="https://join.slack.com/t/dscberea/shared_invite/zt-21hsxt986-tJbH_Pakbuy6w3D4uUN7ZQ" target="_blank">
          <img src="./../assets/insta_logo.png" style="height: 20px; width: 20px;" alt="">
        </a>
      </button>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: #4285f4;">
      © 2023 Copyright:
      <a class="text-white" href="#">GDSC-BC</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>